/*
    fonts:
    impact 900
    poppins 700 500
    font-family: 'Poppins', sans-serif;
*/

:root{
    --background : #0B1D26;
    --white: #FFFFFF;
    --accent: #FDD130;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

.header__container{
    width: 100%;
    min-width: 288px;
    height: 380px;
    /* background-image: url('./assets/images/hero-image.jpg'); */
    background-image: linear-gradient(1deg,rgba(11, 29, 38, 1)5%, rgba(255, 255, 255, 0.2)50% ), url("./assets/images/hero-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.header__body{
    width: 90%;
    min-width: 300px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.header__body .header__body--logo{
    width: 100px;
    display: block;
    margin: 10px auto;
}

.header__body--menu-img{
    margin-bottom: 10px;
}

.header__body--list{
    background-color: var(--white);
    list-style: none;
    width: 100px;
    padding: 10px;
    margin: 0 auto;
    display: none;
}

.list-item a{
    text-decoration: none;
    color: var(--background);
    font-size: 1.2rem;
}

.header__body--title{
    margin: 30px 5px;
    font-size: 1.8rem;
}

.main__section{
    background-color: var(--background);
}