/*
    fonts:
    impact 900
    poppins 700 500
    font-family: 'Poppins', sans-serif;
*/

:root{
    --background : #0B1D26;
    --white: #FFFFFF;
    --accent: #FDD130;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--background);
}

.header__container{
    width: 100%;
    min-width: 288px;
    height: 400px;
    /* background-image: url('./assets/images/hero-image.jpg'); */
    background-image: linear-gradient(1deg,rgba(11, 29, 38, 1)5%, rgba(255, 255, 255, 0.2)50% ), url("./assets/images/hero-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 20px;
}

.header__body{
    width: 90%;
    min-width: 300px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.header__body .header__body--logo{
    width: 100px;
    display: block;
    margin: 0 auto;
}

.header__body--menu-img{
    margin-bottom: 10px;
}

.header__body--list{
    background-color: var(--white);
    list-style: none;
    width: 100px;
    padding: 10px;
    margin: 0 auto;
    display: none;
}

.list-item a{
    text-decoration: none;
    color: var(--background);
    font-size: 1.2rem;
}

.header__body--title{
    margin: 30px 5px;
    font-size: 1.8rem;
}

.main__section{
}

.main__section{
    width: 100%;
    min-width: 288px;
    height: auto;
}

.main__cruiser--container{
    width: 100%;
    min-width: 300px;
    margin: 50px 0;
}

.main__cruiser--text{
    text-align: justify;
    padding: 10px;
}

.main__cruiser--number{
    font-size: 12.0rem;
    font-weight: bold;
    color: rgba(255, 255, 255, .1);
    line-height: 10rem;
    display: inline-block;
}

.main__cruiser--title{
    font-size: 3.2rem;
    color: var(--white);    
    display: inline-block;
    text-transform: uppercase;
}

.main__cruiser--description{
    font-size: 1.2rem;
    color: var(--white);
}

.main__cruiser--link{
    color: var(--accent);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    
}

.main__cruiser--container span{
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url('./assets/icons/right-arrow.png');
}

.button-container{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.main__cruiser--image{
    width: 100%;
    height: 320px;
    max-width: 566px;
}

.footer__container{
    width: 100%;
    min-width: 288px;
    padding-bottom: 50px;
}

.footer__container--logo{
    width: 100%;
    min-width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

.footer__container--logo p{
    font-size: 1.2rem;
    line-height: 2.4rem;
    color: #ffffff;
}

.footer__container--service{
    width: 100%;
    min-width: 300px;
    text-align: center;
}

.footer__container--service p{
    font-size: 1.8rem;
    color: var(--accent);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer__container--service a{
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--white);
}

.footer__container--about{
    width: 100%;
    min-width: 300px;
    text-align: center;
    margin-top: 15px;
}

.footer__container--about p{
    font-size: 1.8rem;
    color: var(--accent);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer__container--about a{
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--white);
}